@charset "utf-8";

/* 1020px 중앙정렬 */
#wrap {}

.inner {
    width: 1020px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#spot {
    padding: 500px 0 172px;
    text-align: center;
    background: url(../images/img_cube.gif) no-repeat center 120px;
}

.spot_title {
    width: 530px;
    margin: 0 auto;
    height: 160px;
    line-height: 1.2;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -3px;
}

.spot_title strong {
    font-weight: 900;
    letter-spacing: 0;
}

.video_outer {
    margin-bottom: 20px;
}

.spot_subtitle {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 42px;
}

.spot_subtitle span {
    font-size: 22px;
    color: #8a8a8a;
    letter-spacing: 0;
    display: block;
}

#spot .linkbox {
    width: 300px;
    height: 54px;
    line-height: 54px;
    display: block;
    margin: 24px auto;
    text-decoration: none;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #01c9ca, #3886ff);
    border-image-slice: 1;
    font-size: 16px;
    color: #3886ff;
}

#onstage_2dot0 {
    padding-bottom: 140px;
}

.onstage2_title {
    text-align: center;
    font-size: 23px;
    line-height: 41px;
    font-weight: normal;
    letter-spacing: -1px;
    width: 495px;
    padding: 70px 0 40px;
    float: left;
}

.onstage2_title strong {
    display: block;
    width: 400px;
    height: 45px;
    background: url(../images/sp_images_v2.png) no-repeat 0 -84px;
    text-indent: -9999em;
    overflow: hidden;
    margin: 0 46px 30px auto;
}

.linkbox_video {
    width: 495px;
    height: 362px;
    display: block;
    margin-top: 30px;
    position: relative;
    background: url(../images/sp_section_onstage_2dot0_music_v2.jpg) no-repeat;
}

.linkbox_video:nth-of-type(2n) {
    float: left;
    margin-top: 0;
}

.linkbox_video:nth-of-type(2n-1) {
    float: right;
}

.linkbox_video::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/sp_images_v2.png) no-repeat 0 -176px;
}

.linkbox_video.off::after {
    display: none;
}

.music2 {
    background-position: 0 -362px;
}

.music3 {
    background-position: 0 -724px;
}

.dllist {
    position: absolute;
    top: 40px;
    left: 40px;
}

.dllist dt {
    font-size: 34px;
    font-weight: 500;
    color: #e44be3;
}

.dllist dd {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}

.txtbox {
    float: left;
    width: 495px;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    padding-top: 60px;
}

.txtbox span {
    color: #e44be3;
}

#onstage_x {
    padding-bottom: 140px;
}

.onstagex_title {
    text-align: center;
    font-size: 23px;
    line-height: 41px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #262626;
}

.onstagex_title strong {
    margin: 0 auto 25px;
    display: block;
    width: 357px;
    height: 75px;
    background: url(../images/sp_images_v2.png) no-repeat 0 -264px;
    text-indent: -999em;
    overflow: hidden;
}

#onstage_x .slide_box {
    position: relative;
    margin: 40px 30px;
    height: 400px;
    overflow: hidden;
}

.slide_box button {
    border: 0;
    width: 34px;
    height: 54px;
    overflow: hidden;
    line-height: 999em;
    position: absolute;
    background: url(../images/sp_images_v2.png) no-repeat;
}

.slide_box .onstage_prev {
    top: 160px;
    z-index: 10;
    left: 10px;
    background-position: 0 -387px;
}

.slide_box .onstage_next {
    top: 160px;
    z-index: 10;
    right: 10px;
    background-position: -36px -387px;
}

#onstage_x .item {
    display: block;
    overflow: hidden;
    width: 1020px;
    height: 400px;
    background: url(../images/sp_section_onstage_x_slide_v2.jpg) no-repeat;
}

#onstage_x .musician1 {
    background-position: 0 0;
}

#onstage_x .musician2 {
    background-position: 0 -402px;
}

#onstage_x .musician3 {
    background-position: 0 -804px;
}

#onstage_x .txtbox {
    font-size: 16px;
    color: #141414;
    line-height: 43px;
    text-align: center;
    width: 100%;
    padding-top: 0px;
}

#onstage_x .txtbox .left {
    width: 50%;
    float: left;
    text-align: center;
}

#onstage_x .txtbox .linkbox {
    display: block;
    width: 185px;
    height: 44px;
    text-indent: -999em;
    margin: 5px auto 0;
    background: url(../images/sp_images_v2.png) no-repeat 0 -341px;
}

#onstage_x .txtbox .right {
    width: 50%;
    float: right;
}

#digging {
    padding-bottom: 265px;
    height: 1127px;
    color: #262626;
    background: url(../images/bg_section_digging.jpg) no-repeat center 0;
}

.digging_title {
    font-size: 25px;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: -1px;
    width: 495px;
    float: right;
    padding-top: 110px;
    text-align: center;
}

.digging_title strong {
    display: block;
    width: 400px;
    height: 53px;
    overflow: hidden;
    text-indent: -999em;
    margin: 0 0 26px 65px;
    background: url(../images/sp_images_v2.png) no-repeat 0 -471px;
}

footer {
    height: 120px;
    margin-top: 200px;
    border-top: 1px solid #bfc0c2;
    background: url(../images/bg_footer_v2.jpg) no-repeat center top;
}

footer .inner {
    width: 480px;
    margin: 20px auto;
}

footer .left,
footer .right {
    float: left;
}

footer .left .linkbox {
    display: block;
    width: 240px;
    height: 80px;
}

footer .right .linkbox {
    display: block;
    width: 240px;
    height: 80px;
}