body{
    background-color: #555;
}
#main {
    width: 700px;
    padding: 10px 30px 20px;
    margin:0 auto;
    background-color: #fff;
}
#main h1 {
    color: red;
    border-bottom: 5px solid red;
    padding: 10px;
}
.wrap{
    list-style: none;
    padding-left: 10px;
    color: blue;
    line-height: 1.8;
    font-size: 14px;
}

.box {
    border: 1px solid #555;
    padding: 0 20px 20px;
}
.box h2{
    color: red;
}
.box1{
    list-style-type: square; 
    line-height: 2;
    border-bottom: 2px dashed #555;
    padding-bottom: 20px;
}
.box1 br {
    display: block; line-height: 1.6;
}
.box2{
    line-height: 2;
}
.wrapper1{
    width: 610px;
    padding: 20px 40px;
    border: 1px solid black;
}
.book_color{ 
    color: red;
}
.wrapper1 ul{
   list-style: none;
   margin-right: 0;
   text-align: center;

}
.clear::after{content: ""; clear: both; display: block;
    
}
.booklist{
    height: 40px;
    text-align: right;
    margin-right: 20px;
    text-align: right;
    color: blue;
}
img{
    margin-right: 150px;
    width: 200px;
    height: 260px;
    float: left;
}
.clear{
    clear: both;
    display: block;
}
.free{
    background-color: red;
    padding: 5px;
    color: #fff;
    margin-left: 402px;
    width: 65px;
    border-radius: 5px;
}
.free:hover{
    background-color: pink;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
}