@charset "utf-8";
body, h1, h2, p, ul, li, ol {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}

#wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 100px;
}
.logo{
    float: left;
    margin-top: 30px;
}
header nav{
    float: right;
}
.gnb{
    margin-top: 20px;
}
.gnb>li{
    float: left;
    width: 180px;
    height: 50px;
    line-height: 50px;
    background-color: #3cb149;
    text-align: center;
    position: relative;
}
.gnb>li a{
    color: #ffffff;
}
.gnb>li:hover{
    background-color: #1d8844;
}
.gnb>li:hover .sub_menu{
    display: block;
}
.sub_menu{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    display: none;
    z-index: 10;
}
.sub_menu li{ 
    background-color: #434748;
}
.sub_menu li:hover{
    background-color: rgb(53, 52, 52);
}
/* .sub_menu li a{} */
#visual{
    height: 300px;
    overflow: hidden;
    position: relative;
}
#visual .caption{
    position: absolute; 
    left: 50%; 
    top: 50%;
    background-color: rgb(29, 136, 68, 0.7);
    color: #ffffff;
    width: 400px;
    height: 50px;
    line-height: 50px;
    margin-left: -200px;
    margin-top: -25px;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
}
#content{
    height: 200px;
    padding:  20px 0 20px;
}
#content section{
    float: left;
    width: 380px;
    box-sizing: border-box;
}
#content section h3{
    color: #1d8844;
    padding-bottom: 7px;
    border-bottom: 1px solid #1d8844;
}
/* #content .notice{} */
.notice_list{
    font-size: 14px;
    margin-top: 10px;
}
.notice_list li{
    line-height: 2.4;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
}
.notice_list li a:hover{
    font-weight: bold;
}
.notice_list li span{
    float: right;
}
#content .gallery{ 
    margin: 0 28px;
}
.imgbox{
    margin-top: 20px;
    text-align: center;
}
footer{
    height: 100px;
    border-top: 2px solid #ddd;
}
.btm_logo{
    float: left;
    padding-top: 30px;
}
.copy{
    float: left;
    width: 700px;
    text-align: center;
    line-height: 100px;
}
.copy strong{
    color: green;
}
#site{
    float: right;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
}