@charset "utf-8";
html{
    scroll-behavior: smooth;
}
#wrap {}

.inner {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

header {
    height: 100px;
    background-color: #1a1f71;
    border-bottom: 4px solid #f7b006;
}

header .logo {
    float: left;
    margin-top: 22px;
}

header nav {
    float: left;
}

.gnb {
    margin: 28px 0 0 280px;
}

.gnb li {
    float: left;
    padding: 12px 24px;
}

.gnb li a {
    color: #fff;
    transition: .3s;
}

.gnb li:hover a {
    color: #f7b006;
}

header .search {
    float: right;
    margin-top: 38px;
    width: 50px;
    border-left: 1px solid #ddd;
}

header .search img {
    margin-left: 35px;
}

#visual {
    height: 500px;
    background: url(../images/marquee-visahotdeals-1600x900.jpg) no-repeat center / cover;
}

#visual .caption {
    background-color: rgba(255, 255, 255, 0.7);
    width: 260px;
    padding: 30px;
    position: absolute;
    top: 80px;
    left: 50px;
}

.caption .main_title {
    font-size: 42px;
    color: #1a1f71;
}

.caption .sub_title {
    margin-top: 10px;
    line-height: 1.8;
    font-size: 14px;
}

.caption .btn {
    width: 100px;
    height: 34px;
    background-color: #f7b006;
    color: #1a1f71;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    transition: .5s;
}

.caption .btn:hover {
    background-color: #1a1f71;
    color: #f7b006;
}

#tab_menu {
    height: 60px;
    border-bottom: 2px solid #ccc;
    box-shadow: 1px 1px 10px #eee;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.tab_menu nav {}

.tab_list {
    width: 600px;
    margin: 0 auto;
}

.tab_list li {
    float: left;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    box-sizing: border-box;
    border-right: 2px solid #ccc;
}

.tab_list li:first-child {
    border-left: 2px solid #ccc;
}

.tab_list li a {
    color: #1a1f71;
    transition: .3s;
}

.tab_list li:hover a {
    color: #f7b006;
}

#content {
    width: 1140px;
    margin: 0 auto;
}

#content section {
    padding: 100px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#content section .con_title {
    font-size: 36px;
    color: #1a1f71;
    margin-bottom: 40px;
}

#content section .con_title .line {
    position: relative;
}

#content section .con_title .line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #f7b006;
    transform: scaleX(0);
    transition: .5s;
    transform-origin: left;
}

#content section:hover .con_title .line::after {
    transform: scaleX(1);
}

#hotdeal {}

#hotdeal .hotdeal_text {
    line-height: 1.6;
    color: #5c5c5c;
}

#store {}

.store_list {}

.store_list li {
    width: 360px;
    height: 190px;
    margin-right: 30px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #f7b006;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.store_list li:nth-child(3n) {
    margin-right: 0;
}

.store_list li img {
    width: 80%;
}

.hover_box {
    background-color: rgb(247, 176, 6, 0.7);
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
    transition: .5s;
}

.hover_box h3 {
    color: #fff;
    font-size: 32px;
    text-shadow: 2px 2px 2px #1a1f71;
    margin: 50px 0 10px;
}

.hover_box button {
    background-color: #1a1f71;
    border: 0;
    padding: 10px 20px;
    color: #f7b006;
}

.store_list li:hover .hover_box {
    transform: translateY(0);
}

#card {}

.card_list {}

.card_list li {
    width: 370px;
    margin-right: 15px;
    float: left;
}

.card_list li:last-child {
    margin-right: 0;
}

.card_list li a {
    display: block;
    overflow: hidden;
    height: 200px;
    position: relative;
}

.card_list li a>img {
    width: 100%;
    transition: .5s;
}

.card_list li:hover a>img {
    transform: scale(1, 2);
}

.arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-100px, 100px);
    transition: 0.5s;
}

.arrow img {
    width: 70%;
    display: block;
}

.card_list li:hover a .arrow {
    transform: translate(-30px, 30px);
}

.card_title {
    font-size: 32px;
    color: #1a1f71;
    margin: 20px 0 15px;
}

.card_copy {
    font-size: 14px;
    color: #555;
    line-height: 1.8;
    text-align: left;
}

footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

footer .site_map {}

footer .site_map dl {
    float: left;
    margin-right: 140px;
}

footer .site_map dl:last-child {
    margin-right: 0;
}

footer .site_map dl:last-child dd {
    float: left;
    margin-right: 20px;
    color: #1a1f71;
    font-size: 32px;
}

footer .site_map dl:last-child dd:hover {
    color: #f7b600;
}

footer .site_map dl dt {
    font-size: 28px;
    color: #1a1f71;
    line-height: 2.5;
    font-weight: bold;
}

footer .site_map dl dd {
    line-height: 1.8;
    color: #555;
}

footer .copyright {
    margin: 40px auto 0;
    font-size: 14px;
    text-align: center;
    color: #5c5c5c;
}

footer .copyright .btm_logo {
    width: 300px;
    float: left;
    border-right: 1px
}

footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

footer .site_map {}

footer .site_map dl {
    float: left;
    margin-right: 140px;
}

footer .site_map dl:last-child {
    margin-right: 0;
}

footer .site_map dl:last-child dd {
    float: left;
    margin-right: 20px;
    color: #1a1f71;
    font-size: 32px;
}

footer .site_map dl:last-child dd:hover {
    color: #f7b600;
}

footer .site_map dl dt {
    font-size: 28px;
    color: #1a1f71;
    line-height: 2.5;
    font-weight: bold;
}

footer .site_map dl dd {
    line-height: 1.8;
    color: #555;
}

footer .copyright {
    margin: 40px auto 0;
    font-size: 14px;
    text-align: center;
    color: #5c5c5c;
}

footer .copyright .btm_logo {
    width: 300px;
    float: left;
    border-right: 1px solid #ccc;
}

footer .copyright .btm_logo img {
    width: 100%;
    
}

footer .copyright .copytxt {
    float: right;
    width: 800px;
    line-height: 50px;
}
